// main: style.scss

/* Jetpack */
.entry-content {
    div.sharedaddy h3.sd-title, #jp-relatedposts h3.jp-relatedposts-headline {
        font-family: $font__main;
        font-size: 11px;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .jp-relatedposts-post-img {
        margin-bottom: 10px;
    }
    div.sharedaddy h3.sd-title::before,
    #jp-relatedposts h3.jp-relatedposts-headline:before {
        border-top-color: $color__border;
    }
}
.content-area {
    #infinite-handle span {
        color: #FFFFFF;
        background: #000000;
        @include rem('padding', 8px 24px 9px);
        @include border-radius(3px);
        button {
            font-size: 12px;
    		text-transform: uppercase;
            &:hover {
                font-size: 12px;
            }
        }
        &:hover {
            background: #444444;
        }
    }
}

/*
 * 	Core Owl Carousel CSS File
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
/* display none until init */
.owl-carousel{
	display: none;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
	float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
	cursor: pointer;
}
.owl-controls {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}
