// main: style.scss
/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/
.container {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 40px;
    clear: both;
    position: relative;
    @include media-breakpoint-down(md) {
        padding: 0 20px;
    }
}

.full-width {
    .content-area {
        width: 100%;
        max-width: 100%;
    }
}

.content-area {
    float: none;
    width: 100%;
    @include media-breakpoint-up(md) {
        width: percentage( 760px / 1080px );
        float: left;
        max-width: 732px;
    }
}

.sidebar {
    float: none;
    width: 100%;
    @include media-breakpoint-up(md) {
        width: percentage( 280px / 1080px );
        float: right;
    }
}

/* Site Topbar */
.site-topbar {
    height: 52px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.02);
    border-bottom: 1px solid #f5f5f5;
    #site-navigation {
        float: left;
    }
    .topbar-search {
        line-height: 52px;
        border-right: 1px solid #F1F1F1;
        padding-right: 10px;
        position: absolute;
        right: 40px;
        @include media-breakpoint-down(md) {
            right: 20px;
        }
        input {
            margin: 0px;
            border: none;
            font-size: 11px;
            max-width: 120px;
            padding: 0;
        }
        .genericon {
            line-height: 52px;
            font-size: 21px;
        }
    }
}

/* Site Branding */
.site-branding {
    @include rem('padding', 50px 0px);
    text-align: center;
    .site-title {
        margin-bottom: 0px;
        @include rem('font-size', 60px);
        @include media-breakpoint-down(md) {
            @include rem('font-size', 40px);
        }
        @include media-breakpoint-down(sm) {
            @include rem('font-size', 35px);
        }
        text-transform: uppercase;
        font-weight: 900;
        line-height: 1;
        color: #000000;
        font-family: "Norwester",'Open Sans', Georgia, serif;
        a {
            &:hover{
                text-decoration: none;
            }
        }
    }
    .site-description {
        @include rem('font-size', 11px);
        letter-spacing: 1.5px;
        margin: 10px 0 0 0px;
        text-transform: uppercase;
    }
}
