.customize-control-radio-image .choices input{
    display: none;
}
.customize-control-radio-image .choices:after {
    clear: both; content: " "; display: block;
}
.customize-control-radio-image .choices * {
    box-sizing: border-box;
}
.customize-control-radio-image .choices .col {
    width: 48%;
    margin-right: 4%;
    float: left;
    margin-top: 16px;

}
.customize-control-radio-image .choices .col:nth-child(2) {
    margin-right: 0px;
}
.customize-control-radio-image .choices label {
    display: block;
    position: relative;
    line-height: 1;
}
.customize-control-radio-image .choices .pro-item {
    cursor: not-allowed ;
}
.choice-item .pr{
    position: absolute;
    top: 5px;
    right: 5px;
    background: #f50000;
    color: #ffffff;
    text-transform: uppercase;
    padding: 2px 5px;
    font-size: 10px;
}
.customize-control-radio-image .choices img {
    max-width: 100%;
    height: auto;
    border: 3px solid #DDDDDD;
    line-height: 1;
}

.customize-control-radio-image .choices input:checked ~ img {
    border-color: #347dca;
}
