.customize-control-radio-image .choices input{
    display: none;
}
.customize-control-radio-image .choices:after {
    clear: both; content: " "; display: block;
}
.customize-control-radio-image .choices * {
    box-sizing: border-box;
}
.customize-control-radio-image .choices .col {
    width: 48%;
    margin-right: 0;
    float: left;
    margin-top: 16px;

}
.customize-control-radio-image .choices .col:nth-of-type(odd) {
    margin-right: 4%;
}
.customize-control-radio-image .choices label,
.customize-control-radio-image .choices a {
    display: block;
    position: relative;
    line-height: 1;
}
.customize-control-radio-image .choices .pro-item {
    cursor: pointer;
}
.choice-item .pr{
    position: absolute;
    top: 5px;
    right: 5px;
    background: #f50000;
    color: #ffffff;
    text-transform: uppercase;
    padding: 2px 5px;
    font-size: 10px;
}
.customize-control-radio-image .choices img {
    max-width: 100%;
    height: auto;
    border: 3px solid #DDDDDD;
    line-height: 1;
}

.customize-control-radio-image .choices input:checked ~ img {
    border-color: #347dca;
}


/* Pro panel */
#accordion-section-boston_pro .accordion-section-title,
#accordion-section-boston_pro .accordion-section-title::before,
#accordion-section-boston_pro .accordion-section-title:hover {
    background: #d54e21 !important;
    color: #ffffff !important;
}